.Productos {
  width: 100%;
  background-color: #ebebeb;
  height: auto;
  display: flex;
  justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 78%;
  }
  
  .link {
    text-decoration: none;
  }
  
